<ion-view view-title="Bib" class="home">
    <ion-content>
        <h2>Bibliografia</h2>
        <ul class="my-nav">
            <li ng-repeat="item in list" ng-show="item.bib">
                <p>{{item.title}}: <a href="{{item.bib}}">{{item.bib}}</a></p>
            </li> 
        </ul>
        <a href="#/app/1"><button class="button button-balanced">
                Vuelve a la aplicación
            </button></a>
    </ion-content>
</ion-view>
