<ion-view view-title="Inicio" class="home">
    <ion-content class="padding">
        <h1>CheckYourCarApp</h1>
        <a href="#/app/1"><button class="button button-balanced">
                Inicia la aplicación
            </button></a>
    </ion-content>
</ion-view>
