<ion-view view-title="Info" class="home">
    <ion-content class="padding">
        <h2>Bienvenido a CheckYourCarApp</h2>
        <p>
            El objeto principal de este proyecto radica en la realización de una base de datos cuyo destinatario principal será aquel que no tenga conocimientos de mecánica. 
        </p>
        <p>
            De esta manera, hacerles más sencillo el conocimiento sobre las partes de su vehículo y como interactúan entre ellas , hasta tal punto que si uno de los sistemas falla puede  afectar a todos los demás , por lo que la reparación se encarece bien por el precio de los sistemas afectado o bien por el tiempo empleado en sustituirlos, y por ende, hacerles ver que un mecánico no cambia por cambiar sino que sustituye o arregla lo que debe de ser y no por ganar más o menos, ya que todo mecánico sabe que la confianza de los clientes es lo más importante para ellos, para que así vuelvan a su taller.
        </p>
        <a href="#/app/1"><button class="button button-balanced">
                Vuelve a la aplicación
            </button></a>
    </ion-content>
</ion-view>
