<ion-view view-title="{{obj.title}}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content>

        <!--LIST-->

        <!--<div class="item" ng-show="childs.length">-->
        <ion-list>
            <ion-item ng-repeat="ch in childs" href="#/app/{{ch._id}}" class="item item-avatar" ng-show="ch.icon.indexOf('ion-') != -1">
                <i class="icon {{ch.icon}}"></i>
                <h2>{{ch.title}}</h2>

            </ion-item>
            <ion-item ng-repeat="ch in childs" href="#/app/{{ch._id}}" class="item item-avatar" ng-show="ch.icon.indexOf('ion-') === -1">
                <img class='item-img' src="ico/{{ch.icon}}" >
                <h2>{{ch.title}}</h2>

            </ion-item>
        </ion-list>
        <!--</div>--> 


        <!--CONTENT-->

        <div ng-show="!childs.length">
            <div class="item item-avatar" ng-show="obj.icon.indexOf('ion-') === -1">
                <img class='item-img' src="ico/{{obj.icon}}" >
                <h2>{{obj.title}}</h2>

            </div>

            <div class="item item-avatar" ng-show="obj.icon.indexOf('ion-') != -1">
                <i class="icon {{obj.icon}}"></i>
                <h2>{{obj.title}}</h2>

            </div>

            <div class="item item-body">
                <!--<img class="full-image" src="img/{{obj.image}}">-->
                <!--<img class="item-image" src="img/{{obj.image}}">-->
                <div ng-repeat="par in obj.text" ng-bind-html="par">

                </div>
                <div ng-show="obj.bib">
                    <p>Fuente: <a href="{{obj.bib}}">{{obj.bib}}</a></p>
                </div>
            </div>
        </div>

        <!--Back button-->

        <a class="item item-divider item-icon-left" href="#/app/{{obj.pare}}">
            <i class="icon ion-arrow-left-a"></i>
            Atrás
        </a>
    </ion-content>
</ion-view>
